body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
}
h1{
    font-size: 5.625em;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}
h2{
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
}
h3{
    color: #11999E;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
hr
{
    margin: 50px auto;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
p{
    line-height: 2;
    color: white;
}
.top-container{
    background-color: rgb(21, 48, 48);
    position: relative;
    padding-top: 100px;
}
.bottomcloud{
    
    position: absolute;
    bottom: 250px;
    left: 300px;
}
.topcloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.middle-container{
    background-color: #131516;
    
}
.ProfilePic{
    padding: 50px;
    border-radius: 90%; 
    width:200px;
    height:200px;  
}
.Intro{
    width: 30%;
    margin: auto;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.skill-1pic{
    padding: 30px;
    width: 25%;
    float: left;
}
.skill-2pic{
    width: 25%;
    float: right;
    padding: 30px;
}
.bottom-container{
    margin-top: 40px auto 0;
    padding: 50px;
    height: 100px;  
    background-color: rgb(53, 128, 128);
}
.footer-link{
    padding: 20px;
    margin: 10px 20px;
    color: black; 
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.Copyright{
    padding: 20px;
    color: #EAF6F6;
}
.Contact-Button{
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #66BBFB);
    background-image: -moz-linear-gradient(top, #1E62D0, #66BBFB);
    background-image: -ms-linear-gradient(top, #1E62D0, #66BBFB);
    background-image: -o-linear-gradient(top, #1E62D0, #66BBFB);
    background-image: -webkit-gradient(to bottom, #1E62D0, #66BBFB);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 .ContactButton:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }